@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap')
:root{ 
    --cor-de-fundo:#dbd6d6;
    --verde:#6FFF57;
    --branco: #3A37SE;
    --botao-ativo: #CCCCCC;
    --botao-inativo: #0A0;
    --texto-fundo: #E3f1CE;

}
.botoes{
    display:block
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }


.botao:first-child {
    border-radius: 40px 0 0 0;
}

.botao:last-child{
    border-radius: 0 40px 0 0;
}

.ativo{
    background-color: aqua;
    
}
}